@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 適用於 Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]:focus {
    outline: none; /* 去除外框 */
    box-shadow: none; /* 去除陰影 */
    border-color: initial; /* 邊框顏色回復到初始狀態 */
}

